<!DOCTYPE html>
<html>
  <head>
    <title>Workex</title>
    <%= csrf_meta_tags %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>

<!--media: 'all',-->
<!--, 'data-turbolinks-track': 'reload'-->